<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="application index-template home-template index ember-application">
    <div class="container mx-auto md:w-2/3">
    {{ partial "header.html" . }}
    <main id="site-main" class="mt-4">
      <header class="mt-4 text-center">
        <h2 class="">Coffee into Code -- C8H10N4O2 =&gt; {}</h2>
      </header>
      <div>
        {{block "main" .}}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
    </div>
  </body>
</html>
