<header class="flex justify-center mt-4">
  <div class="flex items-center mb-8">
    <img src="/images/cic_logo.png" alt="Coffee Into Code" class="w-48 h-auto">
    <nav class="ml-8 mt-4">
      <div>
        <ul class="flex" role="menu">
          <li class=" mr-8 hover:no-underline" role="menuitem">
              <a href="/" id="ember11" class="ember-view"> Home </a>
          </li>
          <li class="nav-current mr-8 hover:no-underline" role="menuitem">
              <a href="/page/about" id="ember12" class="active ember-view"> About </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
